@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/line-clamp;

html {
    scroll-behavior:smooth;
    font-family: Cantarell;
}






.border-1 {
  border-width: 1px;
}

.crisp-edges {
  image-rendering: crisp-edges;
}

a:hover {
  color: grey;  
  transition: 0.1s;
}